/* -----------fonts css style------------ */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Merriweather:wght@700&family=Poppins:wght@500&family=Righteous&family=Rubik:ital,wght@1,800&display=swap');

/* ----------------common style------------- */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
    margin: 0;


}

.head-container{
    display: flex;
    justify-content: space-between;
    padding: 5px 16% 5px 16%;
    background-color: blue;
}

.logo-icon img{
    width: 40px;
    height: 51px;
}
.text-one{
    color: #ffff;
    font-size: 35px;
}
.menu-bar{
    align-items: center;
}
.menu-bar li{}
.menu-bar a{
    text-decoration: none;
    color: #ffff;
    font-size: 18px;
    padding: 12px;
}
.menu-bar a:hover{
    background: skyblue;
    padding: 12px;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    background-color: #ffff;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}

hr{
    border: 1px solid #D1D1D1;
}

/* -------top players and blogs section css style-------- */

.top-players{
    padding-bottom: 18px;
}
.section-title{
    font-size: 24px;
    color: #562EFF;
    padding-top: 3px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player{
    display: flex;
    align-items: center;

}

.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/* ----------top blog css style------------ */
.top-blogs{
    padding-top: 16px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 10px;
}
.blog{
    display: flex;
}
.blog img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
}

/* ----------------Courses style---------------- */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.course{
    margin: 10px;
    padding: 20px 0px 15px 20px;
    box-shadow: 0px 2px 1px;

}
.courses .course-banner img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star.feild{
    color: #FFC014;
}
.fa-star.empty{
    color: gray;
}
footer{
    margin: 0;
    padding: 10px;
    background-color: gray;
    font-size: 25px;
    text-align: center;
    color: blue;
}


/* mobile phone responsive style */
@media only screen and (max-width:668px) {
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog, .course{
        flex-direction:  column;
    }
}

/* tab or tablet screen-size responsive style */
@media only screen and (min-width:668px) and (max-width:992px) {
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(2, 1fr);
    }
    .player, .blog, .course{
        flex-direction:  column;
    }
}